@CHARSET "UTF-8";

/*span태그에 폰트크기를 2배로 키워주세요. 글자색상은 빨간색*/

span{
	font-size: 2.0em;
	color: red;	
	background-color: navy;
}

/*
em태그에 폰트크기를 3배로 키우고, 글자색상과 배경색을 변경해주세요.
*/

em{
	font-size : 3.0em;
	background-color: #b16be3; /*colorpicker사용    #RGB*/
	color: navy;
	
}